<h3>Review 1</h3>
<pre>{{init.w}}</pre>
<!-- <img src="https://placekitten.com/240/120" [width]="imgSize" /> -->
<button id="btnGrow" (click)="grow()">Grow</button>
<button id="btnShrink" (click)="shrink()">Shrink</button>
<br/>
<img [src]="init.imgUrl" [width]="init.w" [alt]="init.alt" [title]='init.title'/>
<hr/>
<h4>Showing members of an array of image data</h4>
<aside *ngFor="let p of pictures;let idx=index" >
   <img [src]="p.imgUrl" [width]="p.w" [alt]="p.alt" [title]="p.title" (click)="removeImage(idx)" />
   {{p.title |uppercase}}

</aside>